.cont { border:1px #A0A0A0 solid;margin:1em; }
.bot { padding:0.5em; }

.cont > .fold { border:0.8em solid white; 
		border-width:1em 0.8em 0 0.8em;
		border-color:gray white; display:inline-block;
		width:0;margin:0.2em;padding:0; }
.last > .fold { border:0.8em solid white; 
		border-width:0.8em 0 0.8em 1em;
		border-color:white gray; display:inline-block;
		width:0;margin:0.2em;padding:0; }
.content { display:inline-block; }