body { margin:0;padding:0;
       position:absolute;left:0;top:0;
       width:100%; } 

header { display:block; 
	 background-color:rgba(0,255,0,0.1);
	 padding:0.2em;margin:0;
	 border-bottom:3px #C0C0C0 solid;}
header h1, header h2 { background-color:rgba(0,0,0,0); }
header h1#title { font-size:2.8em; }
header h2#author { font-size:1.6em; }

.meta { border:2px #c0c0c0 solid;margin:0.5em;padding:0.5em;
	display:none; width:auto;}
.meta td { border:2px #c0c0c0 solid;
	   padding:0.4em;
	   font-style:italic;
	   font-size:1.4em; }
.meta td+td { font-size:1em;
	      font-style:normal; }
header #copyright { margin:1em 4em; }

h1,h2,h3,h4,h5,h6 { margin:0;font-weight:bold; }
h1 { font-size:2em; }
h2 { font-size:1.8em; }
h3 { font-size:1.6em; }
h4 { font-size:1.4em; }
h5 { font-size:1.2em; }
h6 { font-size:1em; }

.fold { border:0.8em solid rgba(0,0,0,0);
	display:inline-block;float:left;
	width:0;margin:0.2em;padding:0;
	cursor:pointer;
	border-width:1em 0.8em 0 0.8em;
	border-color:gray rgba(255,255,255,0); }
.last > .fold, .folded { border-width:0.8em 0 0.8em 1em;
			 border-color:rgba(255,255,255,0) gray; }

section, summary { background-color:rgba(0,0,255,0.02); }

.cont > section { margin:0; }

div.math { background-color:rgba(255,0,0,0.04); }

div.math, pre, code, section { border:1px #D0D0D0 solid;
		border-left-color:B0B0B0;border-left-width:2px;
		margin:0.2em;padding:0.2em;
		display:block; }
h3, h4, h5, h6, summary { border:1px #D0D0D0 solid;display:block;
			  margin:0.3em;padding:0.3em; }

pre { font-family:monospace; font-size:1.2em;
      background-color:rgba(255,240,80,0.4);padding:0.8em; }
caption { font-weight:bold; }